/*Variables*/

$color-one: #f29f05;
$color-two: #f2f2f2;

/* Global */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

/*Front page*/

.front-page {
  height: 100vh;
  position: relative;
  background-image: url('../images/Nowy_Jork.jpg');
  background-size: cover;
  background-attachment: fixed;
}

.container {
  max-width: 100%;
}

.front-page nav {
  margin: 15px auto;
  position: absolute;
}

.front-page nav div {
  margin: auto;
}

nav div .row {
  max-width: 2000px;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline-block;
  margin-left: 20px;
  text-align: left;
}

.front-page {
  max-height: 100vh;
}

.slogans {
  position: absolute;
  margin-top: 20%;
  text-align: center;
  width: 100%;
}

/*City Goals*/

.city-goals {
  height: 50vh;
  margin: 10px 200px;
}

.city-goals-title {
  text-align: center;
  margin-top: 50px;
}

.city-goals .feature {
  text-align: center;
  margin-top: 100px;
}

.city-goals i {
  font-size: 70px;
  height: 120px;
  width: 120px;
  border: 4px solid black;
  border-radius: 100%;
  text-align: center;
  line-height: 110px;
}

.icon-1 {
  padding-left: 8px;
}

/*Resurces*/

.resources {
  padding: 10px 200px;
  height: 100vh;
  background-color: $color-two;
}

.box {
  height: 300px;
  margin: 30px 50px;
  position: relative;
  background: white;
}

.box img {
  left: 0;
  height: 250px;
  width: 100%;
  position: absolute;
  object-fit: cover;
}

.box h2 {
  position: absolute;
  bottom: 15px;
  font-size: 50px;
}

.resources a {
  color: $color-one;
  text-decoration: none;
}

.resources .box:hover {
  img {
    filter: brightness(50%);
    transition: 1s;
  }

  a {
    color: white;
    transition: 1s;
  }
}

.box p {
  position: absolute;
  bottom: 1px;
}

/*Footer*/

footer {
  padding: 10px 200px;
}

footer h6 {
  font-size: 15px;
}

footer ul {
  display: flex;
  justify-content: space-between;
}

footer li {
  list-style-type: none;
  display: inline-block;
  font-size: 30px;
  height: 60px;
  width: 60px;

  border-radius: 100%;
  background-color: $color-two;
  text-align: center;
  line-height: 62px;
}

footer li p {
  display: none;
}

footer a {
  color: $color-one;
}

footer li:hover {
  transform: scale(1.1);
  background-color: $color-one;
  color: $color-two;
  transition: 1s;

  a {
    color: $color-two;
  }
}
