/* Global */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

/*Front page*/

.front-page {
  height: 100vh;
  position: relative;
  background-image: url('../images/Nowy_Jork.jpg');
  background-size: cover;
  background-attachment: fixed;
}

.container {
  max-width: 100%;
}

.front-page nav {
  margin: 15px auto;
  position: absolute;
}

.front-page nav div {
  margin: auto;
}

nav div .row {
  max-width: 2000px;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline-block;
  margin-left: 20px;
  text-align: left;
}

.front-page {
  max-height: 100vh;
}

/*City Goals*/

.city-goals {
  height: 50vh;
}

.city-goals-title {
  text-align: center;
  margin-top: 50px;
}

.city-goals .feature {
  text-align: center;
  margin-top: 50px;
}
